{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Auction
{% endblock %}

{% block content %}

    <div class="instructions well well-lg">
        <p>
            You are competing with <b>{{ Constants.num_others }}</b> other participants for a prize of
            <b>{{ Constants.prize }}</b>.
        </p>
        <p>A person who offers the highest price will get the prize. </p>
        <p>
            You have <b>{{ Constants.endowment }}</b> to spend in this auction.
        </p>

        <p>
            Each click on the button will raise the price that you will pay by 10 points.
        </p>
        <p>
            All other participants have <b>{{ Constants.extra_time }}</b> seconds to increase the price.</b>
        </p>
    </div>

    <div id="otree-timeout">
        <h3>Time left to the end of the auction: <span id="ebay-clock" class="badge large"></span></h3>
    </div>
    <div>current price: <b><span id="price"></span></b></div>
    <div id="winner"></div>
    <button id='ebaybtn' role='button' class="btn  btn-large btn-primary next-button" type="button">Make a new bid
    </button>




{% endblock %}


{% block scripts %}
    <script src="{% static 'otree/js/jquery.countdown.min.js' %}"></script>

    <script>
        const group_pk = {{ group.pk }};
        const player_pk = {{ player.pk }};
        let auction_date_over = {{group.auctionenddate|json }};

    </script>
    <script src="{% static 'ebay/channel_connector.js' %}"></script>
{% endblock %}

{% block styles %}
    <style>
        .large {
            font-size: 120%;
        }
    </style>
{% endblock %}
